.nav-component{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    color: black;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}

.nav-component a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    height:fit-content;
    
    transition: all 0.6s ease;
}
.nav-component a:hover{
    opacity:.8;
    text-decoration: underline;

}
.nav-component .logo a:hover{
    text-decoration: none;

}
.nav-component .logo{
    font-weight: 800;
    font-size: 2rem;
}
.nav-component .nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-component .right-nav{
    background-color: peachpuff;
    border-radius: 8px;
    padding: .5rem 1rem;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}
.nav-component input{
    border: none;
    background: transparent;
}
.nav-component input:focus{
    border: none;
}
.nav-component .small-screen-nav{
    display: none;
}


@media screen and (max-width: 768px) {
    .nav-component{
        padding:1rem;
        z-index: 999;
    }
    .nav-component .logo, .nav-component .nav-links, .nav-component .right-nav{
         display: none;
    }
    .nav-component .small-screen-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .nav-component .icon{
        font-size: 1.5rem;
    }
    .nav-component .small-header-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .nav-component .small-screen-links{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;

    }
    
}