.product-card{
    width:250px;
    height: auto;
    cursor: pointer;
    
}

.image-wrapper{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    position: relative;
    border-radius:.4rem;
    overflow: hidden;
}

.discountpercent{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    border-radius: 4px;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}
.image-wrapper img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;

}
.icons-wrapper{
    background-color: white;
    border-radius: 50%;
    padding: .3rem;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.icons2-wrapper{
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    padding: .3rem;
    color: black;
    position: absolute;
    font-size: 1.2rem;
    top: 48px;
    right: 10px;
     display: flex;
    align-items: center;
    justify-content: center;
}
.addtocart{
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
    display: none;
    transition: all 0.8s ease-in;
}
.product-card:hover .addtocart{
    display:block;
}
.product-card h4{
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 8px;
}
.product-card .price-wrapper{
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap:20px;
    margin-bottom: 8px;
}
.product-card .discountprice{
    color: red;
}
.product-card .realprice{
    text-decoration: line-through;
    color: grey;
}
.product-card .ratings{
    display: flex;
    gap: 20px;
}