.section-header{
    color: red;
    display: flex;
    gap: 10px;
    align-items: center;
}

.section-header .red-block{
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: red;

}