
.container {
  text-align: center;
}

.container h1 {
  font-size: 120px;
  color: #333;
  margin: 0;
}

.container p {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.container a {
  text-decoration: none;
  padding: 10px 25px;
  background: green;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.container a:hover {
  background: #555;
}