.signup-content{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;

}
.signup-content img{
    width: 50%;
    height: 100vh;
    object-fit: cover;
}
.form-wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.form-wrapper form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.form-wrapper .form-group{
    display: flex;
    flex-direction: column;
    gap: 8px
}
.form-wrapper h4{
    font-size: 2rem;
    font-weight: 400;
}
.form-wrapper h5{
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
}

.form-wrapper input{
    border: none;
    padding: .5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
}

.signup-content .form-wrapper form button{
    border: none;
    background-color: red;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: .2rem;
    cursor: pointer; 
    transition: all 0.6s ease;
    margin-top: 20px;
    
}
.form-wrapper form button:hover{
    opacity: .8;
}
.signup-content .google-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white !important;
    color: black !important;
    border: 1px solid gray !important;
}
.already{
    margin-top: 20px;
    font-size: 1rem;
    color: grey;
    display: flex;
    gap: 10px;
    justify-content: center;
}

@media screen and (max-width: 768px) {


   .signup-content{
    flex-direction: column;
   } 
   .signup-content img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.signup-content .form-wrapper{
    width: 100%;
    padding: 1rem;
}
}